.out-box {
    height: 250px;
    width: 300px;
    padding: 5px;
    background-color: bisque;
    border-radius: 5px;
}

.btn1div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tishiwenzi {
    margin-bottom: 10px;
}

.update-time {
    color: #dadada;
    font-size: 10px;
}
